﻿@model WebApplication3.ViewModels.Task.IndexTaskViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserTasks[0].TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserTasks[0].CompletedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserTasks[0].UserId)
        </th>
        <th></th>
    </tr>

    <!-- Using Edit Template to Edit List Data -->
    @Html.EditorFor(model => model.UserTasks)

</table>
    <input type="submit" value="Save" class="btn btn-default" />

}